[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pothedar
[access "refs/for/refs/*"]
	read = group user/pothedar
	push = group user/pothedar
	label-Code-Review = -2..+2 group user/pothedar
	label-Verified = -1..+1 group user/pothedar
	rebase = group user/pothedar
	removeReviewer = group user/pothedar
	submit = group user/pothedar
[access "refs/heads/*"]
	read = group user/pothedar
	create = group user/pothedar
	push = +force group user/pothedar
	pushMerge = group user/pothedar
[access "refs/tags/*"]
	push = group user/pothedar
	push = +force group user/pothedar
